#ChoixBento {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 15%;
}

#ChoixBento h2 {
    font-size: 64px;
}

#ChoixBento ol {
    font-size: 24px;
}

@media only screen and (max-width: 1024px) {
    #ChoixBento {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}