#MailingForm {
    width: 70%;
    margin: 75px 15% 150px 15%;
}

#MailingForm h3 {
    font-size: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 28px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 20px;
}

input[type=submit] {
    background-color: #0E1531;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}